.footer {
  background: $secondary-bg-color;
  padding-top: 13px;
  padding-bottom: 27px;
  @include tablet {
    background-color: $bg-white-color;
    background: url(../images/footer-decore.png) no-repeat right bottom;
  }
  @include desktop-large {
    padding-top: 117px;
    padding-bottom: 79px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 58px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop-large {
      gap: 82px;
    }
  }

  &__logo {
    font-weight: 500;
    font-size: 2.75rem;
    line-height: 1.5;
    color: $logo-text-color;
  }

  &__desc {
    font-weight: 500;
    font-size: 0.81rem;
    line-height: 1.2;
    color: $primary-text-color;
    margin-top: 19px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.31rem;
    line-height: 1.2;
    color: $black-text-color;
    margin-bottom: 34px;
  }

  &__list {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.2;
    color: $primary-text-color;
  }
  &__promo {
    @include desktop-small {
      margin-bottom: 58px;
    }

    @include desktop-large {
      max-width: 207px;
    }
  }

  &__flex-container {
    @include desktop-large {
      display: flex;
      gap: 83px;
      justify-content: center;
      align-items: baseline;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 43px;
    @include tablet {
      flex-direction: row;
      gap: 72px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__link {
    transition-duration: 300ms;

    &:hover {
      color: $orange-color;
    }
  }
}

.social-media {
  @include mobile-small {
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 41px;

    @include tablet {
      margin-bottom: 20px;
      justify-content: flex-start;
    }
    @include desktop-large {
      margin-bottom: 35px;
    }
  }
}

.app {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: $primary-text-color;

  &__title {
    margin-bottom: 16px;
  }

  &__box {
    display: flex;
    gap: 7px;
  }
}

.copyrights {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  color: $primary-text-color;
  text-align: center;
  margin-top: 58px;

  @include tablet {
    margin-top: 86px;
  }
}
