.subscribe {
  padding-top: 42px;
  padding-bottom: 70px;
  @include desktop-large {
    background: url(../images/stars2.png) no-repeat bottom right;
  }

  &__box {
    display: flex;
    justify-content: center;

    @include tablet {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $subscribe-bg-color;
      border-radius: 129px 20px 20px 20px;
      max-width: 1170px;
      padding: 78px 155px;
      margin: 0 auto;
    }

    @include tablet {
      background-image: url(../images/decore-left.png), url(../images/decore-right.png);
      background-repeat: no-repeat;
      background-position: bottom left -85px, top right;
    }
  }

  &__form {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    @include desktop-large {
      flex-direction: row;
      gap: 38px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: center;
    color: $primary-text-color;
    max-width: 650px;
    margin-bottom: 50px;
    @include desktop-large {
      font-size: 2.06rem;
      line-height: 1.6;
      max-width: 859px;
      margin-bottom: 74px;
    }
  }
  &__text,
  &__input {
    @include mobile-small {
      display: none;
    }
  }

  &__input {
    font-family: $placeholder-font;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2;
    color: $placeholder-color;
    padding: 23px 28px;
    width: 421px;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
    fill: #5e3be1;
    border-radius: 50%;
    width: 61px;
    height: 56px;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(0, -50%);

    @include tablet {
      top: 0;
      right: -15px;
    }
  }
}
