.subscribe {
  padding-top: 42px;
  padding-bottom: 58px;
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/stars2.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  &__box {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(223, 215, 249, 0.2);
      border-radius: 129px 20px 20px 20px;
      max-width: 1170px;
      padding: 78px 155px;
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      background-image: url(../../images/decore-left.png), url(../../images/decore-right.png);
      background-repeat: no-repeat;
      background-position: bottom left -85px, top right;
    }
  }

  &__form {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 38px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: center;
    color: $primary-text-color;
    max-width: 650px;
    margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
      font-size: 2.06rem;
      line-height: 1.6;
      max-width: 859px;
      margin-bottom: 74px;
    }
  }
  &__text,
  &__input {
    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  &__input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2;
    color: $placeholder-color;
    padding: 23px 28px;
    width: 421px;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  &__btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.06rem;
    line-height: 1.3;
    color: $white-text-color;
    background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
    border-radius: 10px;
    border: none;
    padding: 15px 33px;
    @media screen and (max-width: 767.98px) {
      position: relative;
    }
  }

  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
    fill: #5e3be1;
    border-radius: 50%;
    width: 61px;
    height: 56px;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(0, -50%);

    @media screen and (min-width: 768px) {
      top: 0;
      right: -15px;
    }
  }
}
