$primary-text-color: #5e6282;
$secondary-text-color: #14183e;
$secondary-bg-color: #fff1da;
$white-text-color: #ffffff;
$menu-text-color: #737373;
$black-text-color: #080809;
$bg-white-color: #ffff;
$trip-color-text: #84829a;
$logo-text-color: #181e4b;
$menu-text-color-desktop: #212832;
$menu-hover: #f1a501;
$purple-color: #8a79df;
$placeholder-color: #39425d;
