$primary-text-color: #5e6282;
$secondary-text-color: #14183e;
$secondary-bg-color: #fff1da;
$white-text-color: #ffffff;
$menu-text-color: #737373;
$footer-text-color: #080809;
$bg-white-color: #ffff;
